<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SCALEPROD" value="Data Source=WMSSQLCLUSTER;Initial Catalog=ILS;Persist Security Info=True;User ID=CDCToolBoxuser;Password=Disney4321" />
		<add key="SCALETEST" value="Data Source=WMSTESTSQL;Initial Catalog=ILS;Persist Security Info=True;User ID=@@TesterWMS;Password=Disney2023" />
		<!--add key="SCALETEST" value="Data Source=hpbils.database.windows.net;Initial Catalog=halfprodehekv;Integrated Security=false;User ID=hpbils2;Password=kkbJ2yRPLKxxNwZSG3Jr;"/-->
		<add key="MODE" value="TEST" />
		<!--add key="DIPS" value="Data Source=sequoia;Initial Catalog=HPB_db;Persist Security Info=True;Integrated Security=true" /-->
		<!--add key="SCHEMESTEST" value="Data Source=porcupine;Initial Catalog=SCHEMES;Persist Security Info=True;User ID=Schemer@;Password=Disney9876@"/
			the TEST doesn't work because porcupine doesn't have all the schemes info, no details, only the headers-->
		<add key="SCHEMESTEST" value="Data Source=porcupine;Initial Catalog=SCHEMES;Persist Security Info=True;User ID=Schemer@;Password=Disney9876@"/>
		<add key="SCHEMESPROD" value="Data Source=silverbell;Initial Catalog=SCHEMES;Persist Security Info=True;User ID=Schemer@;Password=Disney9876@"/>
		<!--Test or Prod : Not Case Sensitive-->
		<add key="SOURCE" value="\\wmstestapp\ILS\Interface\Input\" />
		<!-- add key="PROCESSED" value="\\wmsapp\ILS\Interface\Cubiscan\Processed\" />
            <add key="ERROR" value="\\wmsapp\ILS\Interface\Cubiscan\ErrorFiles\" />
            <add key="ClientSettingsProvider.ServiceUri" value="" /-->
	</appSettings>
</configuration>